<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
        <div>
            <ul class="space-y-2 p-5">
                <li>
                    <a class="hover:underline" href="/introduce">Giới Thiệu</a>
                </li>
                <li>
                    <a class="hover:underline" href="/aboutme">Về chúng tôi</a>
                </li>
                <li>
                    <a class="hover:underline" href="/product">Sản phẩm</a>
                </li>
                <li>Khuyến mãi</li>
                <li>
                    <a class="hover:underline" href="/recruitment">Tuyển dụng</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="space-y-2 p-5">
                <li>Điều khoản</li>
                <li>
                    <a class="hover:underline" href="/terms">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a class="hover:underline" href="/policy">Chính sách bảo mật thông tin</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="space-y-2 p-5">
                <li class="flex items-center">
                    <img src="https://cdn-icons-png.flaticon.com/128/3059/3059561.png" alt="Telephone call" width="18"
                        height="18">
                    <span class="ml-2">Đặt hàng 1800 6939</span>
                </li>
                <li class="flex items-center">
                    <img src="https://cdn-icons-png.flaticon.com/128/5616/5616461.png" alt="Gps" width="18" height="18">
                    <span class="ml-2">Liên hệ</span>
                </li>
                <li>Tầng 3-4 Hub Building 190/10E Điện Biên Phủ, p15, Q.Bình Thạnh, TP.Hồ Chí Minh</li>
            </ul>
        </div>
        <div>
            <ul class="space-y-2 p-5">
                <li>
                    <img src="~/images/Logo.png" alt="Company logo" width="80" height="80">
                </li>
                <li>Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN</li>
                <li>Mã số DN: 0312867172 do sở kế hoạch và đầu tư tp.HCM cấp ngày 23/07/2014. Người đại diện: NGÔ NGUYÊN
                    KHA</li>
                <li>Địa chỉ: 86-88 Cao Thắng, Phường 04, Quận 3, TP.Hồ Chí Minh Điện thoại:(028)7107 8079 Email:
                    hi@thecoffeehouse.vn</li>
                <li>&copy; 2024-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN mọi quyền bảo lưu</li>
            </ul>
        </div>
    </div>
</footer>
