@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    var userName = isAuthenticated ? HttpContextAccessor.HttpContext.User.Identity.Name : "";
}

<script src="https://cdn.tailwindcss.com"></script>
<header>
    <div class="Home_menu_show_behind">
        <div class="Home_menu_show">
            <li class="Home_title_option_show" style="list-style-type: none;">
                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png" loading="lazy" alt="Close "
                    title="Close " width="12" height="12" id="Home_icon_close">
            </li>
            <ul class="Home_menu_show_list">
                <li class="Home_title_option_show"><a href="/" class="Home_title_option" title="Trang chủ">
                        Trang chủ
                    </a>
                </li>
                <li class="Home_title_option_show"> <a class="Home_title_option" href="/caffee">
                        Cà phê
                    </a></li>
                <li class="Home_title_option_show"> <a class="Home_title_option" href="/product">
                        sản phẩm
                    </a></li>
                <li class="Home_title_option_show"> <a class="Home_title_option" href="/share">
                        chia sẻ
                    </a></li>
                <li class="Home_title_option_show"> <a class="Home_title_option" href="/aboutus">
                        Về chúng tôi
                    </a></li>
            </ul>
        </div>
    </div>
</header>
<header class="Home_layout_header">
    <div class="Home_vertical_container">
        <div class="Home_logo">
            <img src="~/images/Logo.png" loading="lazy" alt="Logo Shop " title="Shopping cart " width="80" height="80">
        </div>
        <div class="Home_register_cart">
           @if (isAuthenticated)
{
    <div class="relative">
        <button id="dropdownButton" class="text-black bg-white px-4 py-2 rounded focus:outline-none">
            Welcome, @userName
        </button>
        <div id="dropdownMenu" class="hidden w-full absolute right-0  bg-white border rounded shadow-md">
            <a href="/profile" class="block px-4 py-2 text-black hover:bg-gray-100">Profile</a>
            <a href="/orderhistory" class="block px-4 py-2 text-black hover:bg-gray-100">Lịch sử mua hàng</a>
            <a href="/resetpassword" class="block px-4 py-2 text-black hover:bg-gray-100">Đổi mật khẩu</a>
              @if (User.IsInRole("Admin"))
    {
        <a href="/admin" class="block px-4 py-2 text-black hover:bg-gray-100">Admin</a>
    }
        </div>
    </div>
    <a href="@Url.Action("Logout", "Account")" onclick="confirmLogout(event)">
        <div class="Orther-login">Đăng xuất</div>
    </a>
}
else
{
    <div>
        <a id="Homepage_login" href="/Account/Login" style="color:#000;text-decoration: none;">
            Đăng nhập
        </a>
    </div>
}
            <div class="Home_shopping_cart">
                <div>
                    <a href="/cart">Giỏ hàng</a>
                </div>
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/3144/3144456.png" loading="lazy"
                        alt="Shopping cart " title="Shopping cart " width="20" height="20">
                </div>
            </div>
        </div>
    </div>
    <div class="Home_toolbar_options">
        <a href="/" class="Home_title_option" title="Trang chủ">
            Trang chủ
        </a>
        <a href="/caffee" class="Home_title_option">
            Cà phê
        </a>
        <a href="/product" class="Home_title_option" id="Home_products">
            Sản phẩm
        </a>
        <a href="/share" class="Home_title_option">
            Chia sẻ
        </a>
        <a href="/aboutus" class="Home_title_option">
            Về chúng tôi
        </a>
    </div>
    <div class="Home_menu_hidden">
        <div class="Home_menu_hidden_element" style="margin-left:20px">
            <img src="https://cdn-icons-png.flaticon.com/128/1828/1828859.png" loading="lazy" alt="Menu " title="Menu "
                width="24" height="24" id="Home_icon_menu">
        </div>
        <div class="Home_menu_hidden_element" style="margin-left:0px; width:20%">
            The Coffee
        </div>
    </div>
    <div class="Home_menu_products">
        <ul class="Home_menu_products_list">
            <li class="Home_menu_products_list_item">
                <a class="Home_menu_title">Tất cả</a>
            </li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Cà phê</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Trà</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Cloud</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Hi-tea healthy</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Trà xanh - Chocolate</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Thức uống đá xay</a></li>
            <li class="Home_menu_products_list_item"><a class="Home_menu_title">Bánh và snack</a></li>
            <li class="Home_menu_products_list_item" style="width: 100%;"><a class="Home_menu_title">Thưởng thức tại
                    nhà</a></li>
        </ul>
    </div>
</header>
<script>
    function confirmLogout(event) {
        if (!confirm("Bạn có chắc muốn đăng xuất không?")) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        }
    }


    document.getElementById('dropdownButton').addEventListener('click', function () {
        var menu = document.getElementById('dropdownMenu');
        menu.classList.toggle('hidden');
    });

    // Hide the dropdown menu if clicked outside
    window.addEventListener('click', function (e) {
        if (!document.getElementById('dropdownButton').contains(e.target)) {
            document.getElementById('dropdownMenu').classList.add('hidden');
        }
    });
</script>
