<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<body class=" items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md mx-auto">
        <div class="text-center mb-6">
            <img src="~/images/Logo.png" alt="Logo" class="w-24 h-24 mx-auto rounded-full" style="margin: auto;">
            <h4 class="text-2xl font-semibold mt-4">QUÊN MẬT KHẨU</h4>
            <p class="text-gray-600">TheCoffee xin chào!</p>
        </div>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="mb-4">
                <div class="flex items-center border rounded px-3 py-2">
                    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png" alt="Email Icon"
                        class="w-6 h-6 mr-2">
                    <input class="w-full px-2 py-1 focus:outline-none" placeholder="Email" required>
                </div>
                <span class="text-red-500 text-sm"></span>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Gửi liên kết đặt
                lại mật khẩu</button>
            <a class="block text-center text-blue-500 hover:underline mt-4" href="/login">Quay lại Đăng Nhập</a>
            <hr class="my-6">
            <div class="text-center">
                <a href="/register" class="block bg-gray-300 text-gray-800 py-2 rounded hover:bg-gray-400">Tạo Tài
                    khoản</a>
            </div>
        </form>
    </div>
</body>

</html>
