@model ResetPasswordViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi Mật Khẩu</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100  items-center justify-center min-h-screen">

    <div class="w-full max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-5 text-center">Đổi Mật Khẩu</h2>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-red-500 text-center mb-4" })

            <div class="mb-4">
                <label for="currentPassword" class="block text-gray-700 text-sm font-bold mb-2">Mật Khẩu Hiện Tại</label>
                <input id="currentPassword" name="CurrentPassword" type="password" placeholder="Nhập mật khẩu hiện tại"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-red-500 text-sm" })
            </div>

            <div class="mb-4">
                <label for="newPassword" class="block text-gray-700 text-sm font-bold mb-2">Mật Khẩu Mới</label>
                <input id="newPassword" name="NewPassword" type="password" placeholder="Nhập mật khẩu mới"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-red-500 text-sm" })
            </div>

            <div class="mb-4">
                <label for="confirmNewPassword" class="block text-gray-700 text-sm font-bold mb-2">Xác Nhận Mật Khẩu
                    Mới</label>
                <input id="confirmNewPassword" name="ConfirmNewPassword" type="password" placeholder="Xác nhận mật khẩu mới"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-red-500 text-sm" })
            </div>

            <div class="flex items-center justify-center mt-6">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Đổi Mật Khẩu
                </button>
            </div>
        }
    </div>

</body>

</html>
