<link rel="stylesheet" href="~/css/aboutus.css">

<body>
    <div class="Container">
        <div class="Heading-aboutus">
            <h1>Về chúng tôi</h1>
        </div>
        <div class="Content">
            <div class="Content-source">
                <h3>Nguồn gốc</h3>
                <p>
                    CÂU CHUYỆN NÀY LÀ CỦA CHÚNG MÌNH. <br>
                    The Coffee được thành lập vào năm 200, bắt nguồn từ tình yêu dành cho đất Việt cùng với cà phê
                    và cộng đồng nơi đây. Ngay từ những ngày đầu tiên, mục tiêu của chúng mình là có thể phục vụ và
                    góp phần phát triển cộng đồng bằng cách siết chặt thêm sự kết nối và sự gắn bó giữa người với
                    người.
                </p>
                <div class="click">
                    <a href="/roots">Xem chi tiết</a>
                </div>  
            </div>
            <div class="Content-img">
                <img src="https://media.istockphoto.com/photos/cup-of-coffee-picture-id504983540?k=6&m=504983540&s=612x612&w=0&h=tOdlmbF1hjXKb__Yc6P4tm9izqWSyw52RIpCMOKBKP4="
                    alt="">
            </div>
        </div>
        <div class="Content-2">
            <div class="Content-img2">
                <img src="https://cdn.create.vista.com/api/media/small/316705436/stock-photo-cropped-view-woman-holding-spoon-cappuccino-foam"
                    alt="">
            </div>
            <div class="Content-source-DV">
                <h3>Dịch vụ</h3>
                <p>DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH <br>
                    The Coffee là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng
                    mình.Đừng giữ trong lòng, hãy chia sẻ với chúng mình điều bạn mong muốn để cùng nhau giúp
                    The Coffee trở nên tuyệt vời hơn</p>
                <div class="click">
                    <a href="/translation">Xem chi tiết</a>

                </div>
            </div>
        </div>
        <div class="Content">
            <div class="Content-source">

                <h3>Nghề nghiệp</h3>
                <p>
                    CƠ HỘI NÀY LÀ CỦA CHÚNG MÌNH <br>
                    Là điểm hội tụ của cộng đồng, The Coffee luôn tìm kiếm những thành viên mới với mong muốn
                    không ngừng hoàn thiện một không gian dành cho tất cả mọi người. Chúng mình luôn chào đón bạn
                    trở thành một phần của The Coffee để cùng nhau siết chặt thêm những kết nối và sự gắn bó giữa
                    người với người.
                </p>
                <div class="click">
                    <a href="/job">Xem chi tiết</a>
                </div>
            </div>
            <div class="Content-img">
                <img src="https://opetit.com/wp-content/uploads/2024/02/ca-phe-arabica-rang-moc-opetit-7.jpg" alt="">
            </div>
        </div>
    </div>
</body>