@{
    ViewData["Title"] = "Home Page";
}

<div class="Home_vertical">
    <div style="margin-top: 50px;">
        <img id="coffeeImage" src="~/images/coffeeHatRang.jpg" style="width: 100%;">
        <img id="serviceImage" src="~/images/CouterService.jpg" style="width: 100%; display: none;">
    </div>

    <div class="Home_decription_coffee">
        <div>
            <img id="coffeeImage" src="~/images/hinh-tach-ca-phe-va-hat.jpg" style="width: 100%;border-radius:10px">
        </div>
        <div style="font-size: 20px;">
            <p style="font-weight: 700; font-size:25px;text-transform: uppercase;">Từ những hạt cà phê, chúng tôi tạo ra
                niềm đam mê</p> <br>
            <p>Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và cà phê thượng hạng cùng mong muốn mang
                lại
                cho khách những trải nghiệm giá trị nhất khi thưởng thức, Phúc Long liên tục là thương hiệu tiên phong
                với
                nhiều ý tưởng sáng tạo đi đầu nghành trà và cà phê.</p> <br>
            <p>Chúng tôi tin rằng từng sản phẩm trà và cà phê sẽ càng thêm hảo hạng khi được tạo ra từ sự phấn đấu không
                ngừng cùng niềm đam mê. Và chính kết nối dựa trên niềm tin, sự trung thực tin yêu sẽ góp phần mang đến
                những
                nét đẹp mang văn hóa hưởng trà và cà phê ngày càng bay cao, vươn xa.
            </p>
        </div>
    </div>
    <div style="border-top:2px solid #ccc;width:100%;  box-shadow: 1px 1px 0.5px #ccc;"></div>
    <div class="Home_selling_products">
        Sản phẩm bán chạy
        <img src="https://cdn-icons-png.flaticon.com/128/426/426833.png" loading="lazy" alt="Flame " title="Flame "
            width="20" height="20">
    </div>
    <div class="Home_products_container">
        <ul class="Home_products_list">
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/CoffeeSuaDa.webp" style="width: 100%;">
                Coffee Hạnh Nhân Nướng
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/CoffeeSuaDa.webp" style="width: 100%;">
                Coffee Sửa Đá
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/BanhMi.webp" style="width: 100%;">
                Bánh Mì Thịt Nguội
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/BanhMi.webp" style="width: 100%;">
                Bánh Mì Kẹp
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/MoChi.webp" style="width: 100%;">
                Mochi Kem Chocolate
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/MoChi.webp" style="width: 100%;">
                Mochi Trà Xanh
            </li>
        </ul>
    </div>
    <div style="border-top:2px solid #ccc;width:100%;  box-shadow: 1px 1px 0.5px #ccc;"></div>
    <div
        style="font-weight: 600;font-size:40px;text-transform:uppercase;font-style:italic;text-align:center;margin-top: 30px;">
        Nguồn gốc của những hạt cà phê thơm ngon
    </div>
    <div class="Home_decription_coffee_second">
        <div style="width: 100%;">
            <img id="coffeeImage" src="~/images/HaiCaPhe.jpg" style="width: 100%;border-radius:10px">
        </div>
        <div style="font-size: 20px;">
            <p>Được trồng trọt và chăm chút kỹ lưỡng, nuôi dưỡng từ thỗ nhưỡng phì nhiêu, nguồn mát lành, bao bọc bởi
                mây và sương cùng nền nhiệt độ mát mẻ quanh năm, những búp trà ở Tây Bắc mập mạp và xanh mướt, hội tụ
                đầy đủ dưỡng chất, sinh khí, tinh hoa đất trời.</p> <br>
            <p>Chính khí hậu đặc trưng cùng phương pháp canh tác của đồng bào dân tộc nơi đây đã tạo ra Trà Xanh vị mộc
                dễ uống, dễ yêu, không thể trộn lẫn với bất kỳ vùng miền nào khác.
            </p>
        </div>
    </div>
    <div style="border-top:2px solid #ccc;width:100%;  box-shadow: 1px 1px 0.5px #ccc;"></div>
    <div style="display: flex;margin-top: 50px;">
        <div style="padding:50px;margin:auto;line-height: 40px;">
            <p style="text-transform: uppercase;font-weight:600;font-size:40px">
                Signatue <br> by the coffee
            </p>
            <p>
                Nơi cuộc hẹn tròn đầy với Cà phê đặc sản <br> Món ăn đa sắc và không gian cảm hứng
            </p>
            <div style="text-align: center; width:40%">
                <button class="Home_button_learn_about" style="margin: auto;">Tìm hiểu thêm</button>
            </div>
        </div>
        <div style="width:50%">
            <img id="deskImage" src="~/images/Desk.webp" style="width: 100%;">
            <img id="phoneImage" src="~/images/DoiThoai.webp" style="width: 100%; display: none;">
        </div>
    </div>
    <div style="border-top:2px solid #ccc;width:100%;  box-shadow: 1px 1px 0.5px #ccc;margin-top:50px"></div>
    <div class="Home_selling_products">
        <div style="font-size: 30px;">Chương trình SALE</div>
        <div><img src="https://cdn-icons-png.flaticon.com/128/791/791968.png" loading="lazy" alt="Flame " title="Flame "
                width="50" height="50"></div>
    </div>
    <div class="Home_products_container">
        <ul class="Home_products_list">
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/CoffeeSuaDa.webp" style="width: 100%;">
                <span>Coffee Hạnh Nhân Nướng </br> 55.000 đ </span>
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/CoffeeSuaDa.webp" style="width: 100%;">

                <span> Coffee Sửa Đá</br> 55.000 đ </span>
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/BanhMi.webp" style="width: 100%;">

                <span> Bánh Mì Thịt Nguội </br> 55.000 đ </span>
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/BanhMi.webp" style="width: 100%;">

                <span> Bánh Mì Kẹp </br> 55.000 đ </span>
            </li>
            <li Class="Home_product_item">
                <img id="coffeeImage" src="~/images/MoChi.webp" style="width: 100%;">

                <span> Mochi Kem Chocolate </br> 55.000 đ </span>
            </li>
        </ul>
    </div>
</div>
<script>
    function toggleImages(imageId) {
        var image = document.getElementById(imageId);
        if (image.style.display === 'none') {
            image.style.display = 'block';
        } else {
            image.style.display = 'none';
        }
    }
    setInterval(function () {
        toggleImages('coffeeImage');
        toggleImages('serviceImage');
        toggleImages('deskImage');
        toggleImages('phoneImage');
    }, 3000);

</script>
