<link rel="stylesheet" href="~/css/roots.css">

<body>
    <div class="Container">
        <div class="img-roots">
            <img src="https://opetit.com/wp-content/uploads/2024/02/ca-phe-arabica-rang-moc-opetit-7.jpg" alt="">
        </div>
        <div class="Content">
            <div class="Content-roots" style="margin-top:5%">
                <h1>Nghề nghiệp</h1>
                <p>CƠ HỘI NÀY LÀ CỦA CHÚNG MÌNH <br>
                    Chúng mình biết rằng để thành công, bạn muốn làm việc với những đồng nghiệp tuyệt vời, tận hưởng
                    những khoảng thời gian đẹp nhất, hiệu quả nhất, thể hiện được tài năng, đam mê của mình và được
                    là chính mình nhất. Tại cộng đồng The Coffee của chúng mình, bạn sẽ được truyền cảm hứng từ các
                    cơ hội việc làm chúng mình có và trở thành phiên bản tốt nhất của chính bản thân trong cộng đồng
                    của chúng mình. <br>
                    Chúng mình hoàn toàn tin tưởng rằng nhiệm vụ của The Coffee là trao quyền cho bạn, hỗ trợ bạn
                    trong quá trình bạn tỏa sáng, tạo kiện tốt nhất để bạn nâng cấp kỹ năng vốn có của bạn cũng như
                    khai phá những tố chất tiềm ẩn để bạn chạm đến PHIÊN BẢN TỐT NHẤT của bản thân. Cho dù bạn mới
                    bắt đầu sự nghiệp hay đang là một chuyên gia có thật nhiều kinh nghiệm, tương lai của bạn đều có
                    thể bắt đầu từ đây để hoàn thiện chính mình trong hành trình chinh phục những thử thách đầy hoài
                    bão. <br>
                    Bạn đã sẵn sàng để nắm lấy cơ hội kiến tạo sự nghiệp cùng chúng mình để góp sức dựng
                    xây một The Coffee Là Của Chúng Mình?
                </p>
                <h2>HÃY CÙNG CHÚNG MÌNH KHÁM PHÁ NHÉ: </h2>
                <div class="btn-NN">
                        <a href="https://tuyendung.thecoffeehouse.com/">
                    <p>Join Our Talent Network</p></a>
                </div>
            </div>
            <div class=" img-click-DV">
                <div class="DV">
                    <a href="/roots"><img
                            src="https://media.istockphoto.com/photos/cup-of-coffee-picture-id504983540?k=6&m=504983540&s=612x612&w=0&h=tOdlmbF1hjXKb__Yc6P4tm9izqWSyw52RIpCMOKBKP4="
                            alt="" class="img-DV">
                        
                    </a>
                </div>
                <div class="NN">
                    <a href="/translation" class="NN"><img
                            src="https://cdn.create.vista.com/api/media/small/316705436/stock-photo-cropped-view-woman-holding-spoon-cappuccino-foam"
                            alt="" class="img-NN">
                       
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>