<link rel="stylesheet" href="~/css/policy.css">

<div class="Container">
    <div class="Content">
        <div class="Address">
            <p style="color: rgb(152, 152, 152);">Trang chủ</p>
            <p style="margin-right: 7px;margin-left:7px; color:grey">/</p>
            <p style="color: rgb(66, 66, 66);">Chính Sách Bảo Mật Thông Tin</p>
        </div>
        <div class="Heading">
            <h1>Chính sách bảo mật thông tin</h1>
        </div>
        <div class="Content-CSBMTT">
            <p style=" margin-bottom: 15px;">Chào mừng Quý Khách Hàng đến với<span> www.The Coffee.com.vn</span></p>
            <p style=" margin-bottom: 15px;">Bảo vệ dữ liệu cá nhân và gây dựng niềm tin đối với Quý Khách Hàng là vấn
                đề rất quan trọng với chúng
                tôi. Chúng tôi tôn trọng và cam kết sẻ bảo mật những thông tin mang tính riêng tư của Quý Khách Hàng.
                Ngoài ra, bất kỳ sự thay đổi nào về chính sách quyền riêng tư này sẻ được thông báo sớm trước khi thực
                thi. </p>
            <p>Xin Quý Khách Hàng vui lòng đọc bản chính sách bảo mật dưới đây để hiểu hơn
                những cam kết bảo mật, nhằm
                tôn trọng và bảo vệ quyền lợi của mình khi truy cập website.</p>

            <h3>1. Thu thập thông tin cá nhân</h3>
            <p>Công Ty Cổ Phần The Coffee - thương hiệu The Coffee luôn tuân thủ các quy định của pháp luật về bảo
                mật
                thông tin cá nhân. Chúng tôi không chia sẻ hay trao đổi thông tin cá nhân của Quý Khách Hàng thu
                thập
                trên website: www.TheCoffee.com.vn và order.TheCoffee.com.vn cho một bên thứ ba nào khác.
                Chúng tôi thu thập Thông tin cá nhân khi: 
            <ul>
                <li>Khách hàng truy cập vào website để tìm hiểu thông tin;</li>
                <li>Khách hàng đăng ký thành viên;</li>
                <li>Khách đặt hàng;</li>
                <li>Khách đăng ký nhận tin tức;</li>
                <li>Khách tham gia khảo sát, nhận khuyến mãi và dự thi;</li>
                <li>Khách phản hồi hoặc khiếu nại (dù trực tuyến hay bằng hình thức khác);</li>
                <li>Khách hàng trao đổi với Công ty qua bất kỳ phương tiện nào (điện thoại, thư từ, fax, gặp gỡ trực
                    tiếp,</li>
                <li>email, mạng xã hội, các ứng dụng, Website);</li>
                <li>Khách hàng chủ động gửi thông tin đến cho Công ty.</li>
                <p style="margin-top: 15px;margin-bottom:10px;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);"><strong>Các
                        thông tin chúng tôi sẻ thu thập bao
                        gồm:</strong> </p>
                <li>Thông tin cá nhân: họ tên, số điện thoại, ngày sinh, giới tính, địa chỉ email, địa chỉ,
                    CMND/CCCD;
                </li>
                <li>Thông tin được gửi bởi hoặc cung cấp thông qua các thiết bị được sử dụng để truy cập vào
                    Website.
                </li>
            </ul>
            </p>
            <h3>2. Mục đích thu thập thông tin cá nhân</h3>
            <p style=" margin-bottom: 15px;">Chúng tôi thu thập và sử dụng Thông tin cá nhân nhằm phục vụ cho các mục
                đích:</p>
            <ul>
                <li>Xử lý đơn hàng của Quý Khách Hàng: Thông tin được lưu khi Quý Khách Hàng mua sản phẩm của chúng tôi,
                    tiến hành giao hàng, tích lũy điểm và trao thưởng. Chúng tôi cũng có thể liên lạc với Quý Khách Hàng
                    cho mục đích khảo sát phục vụ khách hàng;</li>
                <li>Dịch vụ người tiêu dùng: Chúng tôi ghi nhận để hiểu thói quen mua sắm của Quý Khách Hàng để xây dựng
                    chương trình phù hợp;</li>
                <li>Theo yêu cầu của pháp luật: Tùy theo quy định của pháp luật có hiệu lực từng thời điểm, chúng tôi có
                    thể thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm quyền.</li>
            </ul>
            <h3>3. Cách thức truy cập và điều chỉnh thông tin cá nhân</h3>
            <p>Quý Khách Hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có quyền tự kiểm tra, cập nhật, điều
                chỉnh thông tin cá nhân của mình bằng cách đăng nhập tài khoản và chỉnh sửa thông tin cá nhân. Quý Khách
                Hàng có quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của Quý Khách Hàng mà không mất phí.
                Bất cứ lúc nào quý khách cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của Quý Khách
                Hàng cho mục đích tiếp thị.</p>
            <h3>4. Bảo mật</h3>
            <p style=" margin-bottom: 10px;">Chúng tôi có biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn truy
                cập trái phép; hoặc trái pháp
                luật; hoặc mất mát; hoặc tiêu hủy hoặc thiệt hại cho thông tin của Quý Khách Hàng. Khi thu thập dữ liệu
                trên trang web, chúng tôi thu thập chi tiết cá nhân của Quý Khách Hàng trên máy chủ an toàn. Chúng tôi
                dùng tường lửa cho máy chủ. Khi thu thập chi tiết các thẻ thanh toán điện tử, chúng tôi dùng mã hóa để
                ngăn chặn hacker muốn giải mã thông tin của Quý Khách Hàng.</p>
            <p style=" margin-bottom: 10px;">Chúng tôi khuyến nghị Quý Khách Hàng không nên đưa thông tin chi tiết về
                việc thanh toán cho bất kỳ ai bằng Email, chúng tôi không chịu trách nhiệm về những mất mát Quý Khách
                Hàng có thể chịu trong việc trao đổi thông tin của mình qua Internet hoặc thư điện tử.</p>
            <p style=" margin-bottom: 10px;">Quý Khách Hàng tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay
                hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Nghiêm cấm việc phát
                tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của
                hệ thống trang web. Các vi phạm sẻ bị tước bỏ mọi quyền lợi cũng như sẻ bị truy tố trước pháp luật nếu
                cần thiết.</p>
            <p>Mọi thông tin giao dịch sẻ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi buộc
                phải cung cấp những thông tin này cho các cơ quan pháp luật.</p>
            <h3>5. Đối tượng tiếp cận thông tin</h3>
            <p style=" margin-bottom: 10px;">Trừ trường hợp pháp luật Việt Nam có quy định khác, chỉ những đối tượng
                dưới đây mới được tiếp cận Thông
                Tin Khách Hàng:</p>
            <ul>
                <li>Cơ quan nhà nước có thẩm quyền như Viện kiểm sát, tòa án, cơ quan công an điều tra… khi có yêu cầu
                    cụ thể theo quy định của pháp luật Việt Nam; và/ hoặc</li>
                <li>Ngân hàng hoặc các Tổ chức thẻ tín dụng Visa/Mastercard/JCB liên quan đến hành vi vi phạm pháp luật
                    hoặc gian lận thẻ tín dụng liên quan đến Khách hàng; và/ hoặc</li>
                <li>Tập đoàn, Công ty, công ty mẹ, công ty con, công ty liên kết của Công ty, đại lý, nhà thầu, đơn vị
                    cung cấp dịch vụ của Công ty, hoặc bên thứ ba, có liên quan đến việc Công ty cung cấp Sản Phẩm -
                    Dịch Vụ cho Quý khách mới được tiếp cận Thông Tin Khách Hàng để thực hiện Mục Đích như quy định bên
                    trên.</li>
            </ul>
            <h3>6. Thời gian lưu trữ thông tin </h3>
            <p>Thông tin cá nhân sẻ được lưu trữ đến khi Quý Khách Hàng có yêu cầu hủy bỏ nhưng tối thiểu là 90 ngày.
            </p>
            <h3>7. Liên hệ</h3>
            <p>Thông tin cá nhân của bạn sẻ được lưu giữ an toàn. Chỉ các nhân viên được ủy quyền
                bởi www.TheCoffee.com.vn mới có quyền tiếp cận các thông tin này. Nếu bạn có bất kỳ câu hỏi, mối quan
                tâm, hoặc ý kiến gì về chính sách bảo mật của chúng tôi, xin vui lòng liên hệ với chúng tôi qua:</p>
            <ul>
                <li>Website: <span>www.TheCoffee.com.vn</span></li>
                <li>Hotline: 1800 6939</li>
                <li>Fanpage: <span>www.facebook.com/TheCoffee</span></li>
                <li>Email: <span>marketing@TheCoffee.masangroup.com</span></li>
            </ul>
            <p>Chúng tôi giữ toàn quyền thực hiện các thay đổi trong chính sách này. Tất cả thay đổi sẻ được phản ánh
                trên trang website chính thức của Phúc Long.</p>
            <h3>8. Quy trình tiếp nhận và xử lý khiếu nại</h3>
            <p style="margin-bottom: 10px;">The Coffee luôn đón nhận những thông tin và phản ánh từ phía Quý Khách Hàng
                nhằm giúp chúng tôi cải thiện
                chất lượng dịch vụ tốt hơn mỗi ngày. Quý Khách Hàng vui lòng tuân thủ quy định phản hồi dưới đây:</p>
            <ul style="margin-bottom: 100px;">
                <li>Phản hồi cần được thực hiện qua các kênh ở điều 7 từ 08:00 - 17:45 và Thứ Hai đến Chủ Nhật (trừ các
                    ngày Lễ - Tết).</li>
                <li>Tất cả ý kiến của bạn sẻ được bộ phận CSKH của chúng tôi tiếp nhận & xử lý theo trình tự trong thời
                    gian sớm nhất.</li>
                <li>Những phản hồi không rõ ràng, không mang tính chất xây dựng hoặc mang tính phỉ báng sẻ không được
                    chấp thuận và sẻ có thể được đưa ra pháp luật xét xử.</li>
            </ul>
        </div>
    </div>
</div>