<link rel="stylesheet" href="~/css/share.css">
<div class="share_container">
   <div class="div_title">
      <h1 class="title_share">Chia sẻ</h1>
    <div class="share_introduce">
      The Coffee House sẽ là nơi mọi người xích lại gần nhau, đề cao giá trị kết
      nối con người và sẻ chia thân tình bên những tách cà phê, ly trà đượm
      hương, truyền cảm hứng về lối sống hiện đại.
    </div>
    </div>
    <div class="body_content">
      <div class="content_left">
         <a href="https://thecoffeehouse.com/blogs/blog/nguoc-len-tay-bac-goi-vi-moc-ve-xuoi"> 
         <img
          class="img_leftbody"
          src="https://file.hstatic.net/1000075078/article/thecoffeehouse_traxanhtaybac_1_d8c2ac635c5941a19c0065339727e41a_master.jpg"
          alt="Ngược Lên Tây Bắc"
        /></a>
        
        <div class="main_para"> 
       <a href="https://thecoffeehouse.com/blogs/blog/nguoc-len-tay-bac-goi-vi-moc-ve-xuoi">  <h3 class="left_title">NGƯỢC LÊN TÂY BẮC GÓI VỊ MỘC VỀ XUÔI</h3></a>
        <p class="date_atblog">16/08/2023</p>
        <p class="left_mainp">
          Những dải ruộng bậc thang, các cô gái Thái với điệu múa xòe hoa, muôn
          cung đường ngợp mùa hoa… đó là rẻo cao Tây Bắc luôn làm say lòng...
        </p>
        </div>
      </div>
      <div class="content_right">
         <a href="https://thecoffeehouse.com/blogs/blog/signature-by-the-coffee-house-dau-an-moi-cua-nha-ca-phe">
         <img
          class="img_rightbody"
          src="https://file.hstatic.net/1000075078/article/signaturebythecoffeehouse_03_16b2ab7101e14d62835a4b231e73b65d_master.jpg"
          alt="Dấu Ấn Mới"
        />
         </a>
        
       <a href="https://thecoffeehouse.com/blogs/blog/signature-by-the-coffee-house-dau-an-moi-cua-nha-ca-phe">  <h3 class="right_title">SIGNATURE BY THE COFFEE HOUSE - "DẤU ẤN" MỚI CỦA NHÀ CÀ PHÊ</h3></a>
        <p class="date_atblog">19/01/2023</p>
        <p class="right_mainp">
          Ngày 11.01.2023, Chuỗi The Coffee House thông báo cửa hàng SIGNATURE
          by The Coffee House chính thức khai trương tại trung tâm thương mại
          Crescent Mall, Nguyễn Văn Linh, Quận...
        </p>
      </div>
    </div>
    <div class="holic_content">
    <h3 style="font-size:x-large"> CoffeeHolic</h3>
      <div class="main_holic">
          <div class="holic_item">
              <img
                src="https://file.hstatic.net/1000075078/article/thecoffeehouse_caphehighlight01_de40c0102a954c50a328f7befcdd82bd_master.jpg"
                alt=""
              />
            <div class="hoclic_rightcontent">
              <a href="https://thecoffeehouse.com/blogs/coffeeholic/bat-gap-sai-gon-xua-trong-mon-uong-hien-dai-cua-gioi-tre"><h4   class="holic_titleitem">
                BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ
              </h4></a>
              <p class="date_atblog">01/11/2023</p>
              <p class="holic_contentitem">
                Dẫu qua bao nhiêu lớp sóng thời gian, người ta vẫn có thể tìm
                lại...
              </p>
            </div>
          </div>
          <div class="holic_item">   
              <img
                src="//file.hstatic.net/1000075078/article/1200x630_0b0081d93ba6479b934e04e71cbfd102_master.jpg"
                alt=""
              />
            
            <div class="hoclic_rightcontent">
              <a href="https://thecoffeehouse.com/blogs/coffeeholic/chi-chon-ca-phe-moi-sang-nhung-cung-khien-cuoc-song-cua-ban-them-thu-v"><h4 class="holic_titleitem">
                CHỈ CHỌN CÀ PHÊ MỖI SÁNG NHƯNG CŨNG KHIẾN CUỘC SỐNG CỦA BẠN THÊM
                THÚ VỊ, TẠI SAO KHÔNG?
              </h4></a>
              <p class="date_atblog">30/10/2023</p>
              <p class="holic_contentitem">
                Thực chất, bạn không nhất thiết phải làm gì to tát để tạo nên
                một...
              </p>
            </div>
          </div>
          <div class="holic_item">
            
              <img
                src="//file.hstatic.net/1000075078/article/3__1__2b67342f4db64bb082944cf078afd910_master.jpg"
                alt=""
              />
            
            <div class="hoclic_rightcontent">
              <a href="https://thecoffeehouse.com/blogs/coffeeholic/signature-the-coffee-house-da-quay-tro-lai"><h4 class="holic_titleitem">
                SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA THE COFFEE HOUSE ĐÃ
                QUAY TRỞ LẠI
              </h4></a>
              <p class="date_atblog">12/02/2023</p>
              <p class="holic_contentitem">
                Mới đây, các "tín đồ" cà phê đang bàn tán xôn xao về SIGNATURE
                ...
              </p>
            </div>
          </div>
        <div class="holic_showmore"> <a href="https://thecoffeehouse.com/pages/chuyen-ca-phe-va-tra?b=1000676335"> Tìm hiểu thêm</a></div>
      </div>
    </div>
</div>