<link rel="stylesheet" href="~/css/terms.css">

<div class="Container">
    <div class="Content">
        <div class="Address">
            <p style="color: rgb(152, 152, 152);">Trang chủ</p>
            <p style="margin-right: 7px;margin-left:7px; color:grey">/</p>
            <p style="color: rgb(66, 66, 66);">Điều Khoảng Sử Dụng</p>
        </div>
        <div class="Heading">
            <h1>Điều khoản sử dụng</h1>
        </div>
        <div class="Content-DKSU">
            <p>VUI LÒNG ĐỌC KỸ CÁC ĐIỀU KHOẢN SỬ DỤNG NÀY.  BẰNG CÁCH TRUY CẬP HOẶC SỬ DỤNG
                TRANG WEB NÀY, BẠN ĐỒNG Ý
                CHỊU SỰ RÀNG BUỘC CỦA CÁC ĐIỀU KHOẢN ĐƯỢC MÔ TẢ TRONG TÀI LIỆU NÀY VÀ MỌI ĐIỀU KHOẢN ĐƯỢC TỔNG HỢP ĐỂ
                THAM CHIẾU.  NẾU BẠN KHÔNG ĐỒNG Ý VỚI TẤT CẢ ĐIỀU KHOẢN NÀY, VUI LÒNG KHÔNG SỬ DỤNG TRANG WEB NÀY.</p>
            <p>Các Điều khoản Sử dụng này áp dụng cho việc bạn truy cập và sử dụng, tất cả
                hoặc một phần trang web hoặc
                ứng dụng di động bất kỳ của Tập đoàn The Coffee hoặc các chi nhánh và công ty con của hãng (gọi chung là
                “The Coffee”), bao gồm [insert hyperlink to market site] The Coffee.com, myThe Coffeeidea.com, The
                Coffee.yahoo.com, The Coffeecoffeegear.com, The Coffeestore.com và bất kỳ trang web, ứng dụng di động
                hoặc dịch vụ trực tuyến nào khác có đăng các Điều khoản Sử dụng này (gọi chung là “Trang web”).Các Điều
                khoản Sử dụng này không thay đổi theo bất kỳ cách nào mà các điều khoản hoặc điều kiện trong bất kỳ thỏa
                thuận nào khác bạn có thể có với The Coffee về sản phẩm, dịch vụ hoặc trường hợp khác. Nếu bạn đang sử
                dụng Trang web thay mặt bất kỳ pháp nhân nào, bạn tuyên bố và đảm bảo rằng bạn được ủy quyền chấp nhận
                các Điều khoản Sử dụng này thay mặt pháp nhân đó và pháp nhân đó đồng ý bồi thường cho bạn và The Coffee
                về mọi vi phạm đối với các Điều khoản Sử dụng này. Thỏa thuận này có chứa tuyên bố miễn trừ trách nhiệm
                và các điều khoản khác giới hạn trách nhiệm pháp lý của chúng tôi với bạn.</p>
            <p>Trong trường hợp có bất kỳ xung đột hoặc không nhất quán nào giữa các Điều khoản Sử dụng này và bất kỳ
                điều khoản sử dụng nào khác xuất hiện trên Trang web, các Điều khoản Sử dụng này sẻ chi phối. Tuy nhiên,
                nếu bạn điều hướng khỏi Trang web đến trang web của bên thứ ba, bạn có thể phải tuân theo các điều khoản
                và điều kiện sử dụng thay thế như có thể được chỉ định trên trang web đó. Trong trường hợp này, các điều
                khoản và điều kiện sử dụng áp dụng cho trang web đó sẻ chi phối việc bạn sử dụng trang web đó.</p>
            <p>The Coffee giữ quyền thay đổi hoặc sửa đổi các Điều khoản Sử dụng này hay bất kỳ chính sách hoặc nguyên
                tắc nào trên Trang web, vào bất kỳ lúc nào và theo quyết định riêng của hãng. Mọi thay đổi hay sửa đổi
                sẻ có hiệu lực ngay sau khi đăng bản sửa đổi lên Trang web và bạn khước từ mọi quyền bạn có thể có để
                nhận thông báo cụ thể về các thay đổi hoặc sửa đổi này. Việc bạn tiếp tục sử dụng Trang web sẻ xác nhận
                rằng bạn chấp nhận các thay đổi hoặc sửa đổi này; do đó, bạn nên thường xuyên xem lại các Điều khoản Sử
                dụng này và các chính sách hiện hành để hiểu rõ các điều khoản và điều kiện áp dụng cho việc bạn sử dụng
                Trang web của chúng tôi. Nếu bạn không đồng ý với các điều khoản đã sửa đổi, bạn phải ngừng sử dụng
                Trang web.</p>
            <p>Tính đủ điều kiện, Đăng ký và Tài khoản</p>
            <p>Trang web không nhắm mục tiêu đến, không sử dụng cho, bất kỳ người nào dưới 13 tuổi. Nếu bạn từ 13 đến 18
                tuổi, bạn chỉ có thể sử dụng Trang web dưới sự giám sát của cha mẹ hoặc người giám hộ pháp lý, người
                đồng ý chịu sự ràng buộc của các Điều khoản Sử dụng này.</p>
            <p style="margin-bottom: 35px;">Để có thể tham gia vào các vùng nhất định của Trang web, bạn cần phải đăng
                ký tài khoản. Bạn đồng ý
                <strong>(a)</strong>
                chỉ tạo một tài khoản; <strong>(b)</strong> cung cấp thông tin chính xác, trung thực, cập nhật và hoàn
                chỉnh khi tạo tài
                khoản của bạn; <strong>(c)</strong> duy trì và cập nhật kịp thời thông tin tài khoản của bạn;
                <strong>(d)</strong> duy
                trì tính bảo mật
                của tài khoản bằng cách không chia sẻ mật khẩu của bạn với những người khác và hạn chế quyền truy cập
                vào tài khoản và máy tính của bạn; <strong>(e)</strong> thông báo ngay cho The Coffee nếu bạn phát hiện
                hoặc nghi ngờ bất
                kỳ vi phạm bảo mật nào liên quan đến Trang web; và <strong>(f)</strong> chịu trách nhiệm về mọi hoạt
                động diễn ra trong
                tài khoản của bạn và chấp nhận mọi rủi ro về truy cập trái phép.
            </p>
            <p>Bảo mật</p>
            <p>Vui lòng đọc kỹ Chính sách Bảo mật [insert hyperlink to market’s Privacy Policy] để hiểu rõ cách The
                Coffee thu thập, sử dụng và tiết lộ thông tin nhận dạng cá nhân của người dùng.</p>
            <p>Điều khoản Bán hàng</p>
            <p>Mọi hoạt động bán hàng trên Trang web đều chịu sự chi phối của Điều khoản Bán hàng của The Coffee. Vui
                lòng tham khảo Điều khoản Bán hàng của chúng tôi để biết các điều khoản, điều kiện và chính sách áp dụng
                cho việc bạn mua sản phẩm của The Coffee. Bằng cách đặt hàng sản phẩm qua Trang web của chúng tôi, bạn
                đồng ý chịu sự ràng buộc và chấp nhận các Điều khoản Bán hàng này. Điều khoản Bán hàng có thể thay đổi
                mà không có thông báo trước vào bất cứ lúc nào, theo quyết định riêng của The Coffee, vì vậy bạn nên xem
                lại Điều khoản Bán hàng này mỗi lần bạn mua hàng.</p>
            <p>Hoạt động Bán Sản phẩm và Tính sẵn có của Sản phẩm</p>
            <p>Mọi sản phẩm được hiển thị trên Trang web (không phải Thẻ The Coffee) sẻ chỉ được cung cấp trong phạm vi
                lãnh thổ Hoa Kỳ và tại Canada, nếu có. Mọi giá cả cho sản phẩm hoặc dịch vụ cung cấp được hiển thị trên
                Trang web đều được báo giá bằng Đô la Mỹ và chỉ hợp lệ và có hiệu lực ở các cửa hàng tham gia tại Hoa
                Kỳ. The Coffee giữ quyền ngừng hoặc thay đổi mà không thông báo trước các thông số về sản phẩm và dịch
                vụ được cung cấp trên Trang web mà không phát sinh nghĩa vụ bất kỳ. Vui lòng tham khảo chính sách Trả
                lại & Đổi hàng của chúng tôi để biết thêm thông tin áp dụng cho các giao dịch mua hàng được thực hiện
                qua Trang web của chúng tôi.</p>
            <p>Thẻ The Coffee</p>
            <p>The Coffee có thể cho phép bạn mua Thẻ The Coffee qua Trang web. Vui lòng tham khảo Điều khoản & Điều
                kiện Thẻ The Coffee để biết thêm thông tin về các điều khoản, điều kiện và chính sách áp dụng cho việc
                mua và sử dụng Thẻ The Coffee của bạn.</p>
            <p>Tuyên bố từ chối trách nhiệm Trang web</p>
            <p>Tài liệu và thông tin trên Trang web có thể bao gồm các sai sót kỹ thuật hoặc lỗi in. Tài liệu, thông tin
                và dịch vụ trên Trang web được cung cấp “nguyên trạng” mà không có bất kỳ điều kiện, bảo đảm hoặc điều
                khoản khác thuộc bất kỳ hình thức nào. Theo đó, trong phạm vi tối đa luật hiện hành cho phép, The Coffee
                tuyên bố từ chối tất cả bảo đảm khác, rõ ràng hay ngụ ý, bao gồm, nhưng không giới hạn, bảo đảm ngầm về
                khả năng bán được, sự phù hợp cho mục đích cụ thể, quyền sở hữu và không vi phạm đối với Trang web cũng
                như thông tin, nội dung và tài liệu có trên Trang web đó.</p>
            <p style="margin-bottom: 35px;">Bản quyền và Giấy phép Giới hạn</p>
            <p>Trừ khi được chỉ rõ khác, Trang web cũng như mọi nội dung và tài liệu khác trên Trang web, bao gồm, nhưng
                không giới hạn, biểu trưng The Coffee và mọi thiết kế, văn bản, đồ họa, hình ảnh, thông tin, dữ liệu,
                phần mềm, tệp âm thanh, các tệp khác cũng như tuyển tập và sắp xếp theo đó (gọi chung là "Tài liệu Trang
                web") là tài sản độc quyền của The Coffee hoặc nhà cấp phép hay người dùng của hãng và được bảo vệ bởi
                luật bản quyền Hoa Kỳ và quốc tế.</p>
            <p>Bạn được cấp giấy phép giới hạn, không được cấp phép lại để truy cập và sử dụng Trang web và Tài liệu
                Trang web chỉ cho mục đích cá nhân, thông tin và mua sắm. Giấy phép này tuân theo Điều khoản Sử dụng và
                không bao gồm: <strong>(a)</strong> mọi việc bán lại hoặc sử dụng thương mại Trang web hoặc Tài liệu
                Trang web; <strong>(b)</strong> thu
                thập và sử dụng bất kỳ danh sách, hình ảnh hoặc mô tả sản phẩm nào; <strong>(c)</strong> phân phối,
                trình diễn công khai
                hoặc hiển thị công khai bất kỳ Tài liệu Trang web nào; <strong>(d)</strong> sửa đổi hoặc sử dụng Trang
                web và Tài liệu
                Trang web theo bất kỳ hình thức phái sinh nào khác hoặc bất kỳ phần nào trên Trang web đó;
                <strong>(e)</strong> sử dụng
                bất kỳ phương pháp khai thác dữ liệu nào, robot hoặc phương pháp thu thập hoặc trích xuất dữ liệu tương
                tự; <strong>(f)</strong> tải xuống (không phải lưu vào bộ đệm ẩn trang) bất kỳ phần nào của Trang web,
                Tài liệu Trang web
                hay bất kỳ thông tin nào có trên Trang web đó, trừ khi được cho phép rõ ràng trên Trang web; hoặc
                <strong>(g)</strong>
                bất kỳ việc sử dụng Trang web hoặc Tài liệu Trang web nào không phải cho mục đích chỉ định. Bất kỳ việc
                sử dụng Trang web hoặc Tài liệu Trang web nào không phải như được ủy quyền cụ thể trong tài liệu này, mà
                không có sự cho phép trước bằng văn bản của The Coffee, đều bị nghiêm cấm và sẻ chấm dứt giấy phép được
                cấp trong tài liệu này. Việc sử dụng trái phép này cũng có thể vi phạm các luật hiện hành, bao gồm,
                nhưng không giới hạn, luật bản quyền và thương hiệu cũng như các quy định và pháp chế về truyền thông
                hiện hành. Trừ khi được quy định rõ ràng trong tài liệu này, không mục nào trong các Điều khoản Sử dụng
                này sẻ được cấu thành là trao theo bất kỳ cách nào, dù ngụ ý, cấm nói ngược hoặc trường hợp khác, bất kỳ
                quyền hay quyền sở hữu hoặc quyền sử dụng độc quyền nào đối với tài sản trí tuệ bất kỳ hoặc quyền khác
                và bất kỳ sự tín nhiệm nào được liên kết với quyền đó.
            </p>
            <p>Thông báo Đạo luật Bản quyền Thiên niên kỷ Kỹ thuật số (“DMCA”)</p>
            <p>Nếu bạn cho rằng bất kỳ tài liệu nào được cung cấp qua Trang web vi phạm bản quyền bạn sở hữu hoặc kiểm
                soát, bạn có thể gửi thông báo về vi phạm này cho Đại lý được Chỉ định của chúng tôi như được nêu dưới
                đây.</p>
            <p style="margin-bottom: 2px;">The Coffee Corporation</p>
            <p style="margin-bottom: 2px;">Customer Care</p>
            <p style="margin-bottom: 2px;">2401 Utah Ave. S., S-CR1</p>
            <p style="margin-bottom: 2px;">Seattle, WA 98134</p>
            <p style="margin-bottom: 2px;">(206) 235-2883</p>
            <p style="margin-bottom: 15px;">info@The Coffee.com</p>
            <p>Vui lòng xem 17 U.S.C. §512(c)(3) để biết yêu cầu về thông báo đúng cách. Bạn nên lưu ý rằng nếu bạn cố ý
                xuyên tạc trong thông báo rằng tài liệu hoặc hoạt động vi phạm, bạn sẻ phải chịu trách nhiệm pháp lý về
                mọi thiệt hại, bao gồm chi phí và phí luật sư, mà chúng tôi hoặc người bị cáo buộc vi phạm phải chịu do
                chúng tôi dựa vào báo cáo sai để xóa hoặc vô hiệu hóa quyền truy cập tài liệu hoặc hoạt động bị cáo buộc
                vi phạm.</p>
            <p>Theo DMCA và luật hiện hành khác, The Coffee cũng đã ban hành chính sách về việc chấm dứt người dùng được
                coi là vi phạm nhiều lần, trong các trường hợp thích hợp và theo quyết định riêng của chúng tôi.</p>
            <p>Theo quyết định riêng của mình, The Coffee cũng có thể giới hạn quyền truy cập vào Trang web và/hoặc chấm
                dứt tài khoản của mọi người dùng vi phạm bất kỳ quyền sở hữu trí tuệ nào của người khác, dù có vi phạm
                nhiều lần hay không.</p>
            <p>Thông tin Thương hiệu</p>
            <p>The Coffee và biểu trưng The Coffee là các thương hiệu đã đăng ký của The Coffee. Mọi thương hiệu, nhãn
                hiệu dịch vụ, tên miền, biểu trưng, tên công ty và dấu hiệu nguồn gốc khác của The Coffee được đề cập
                trên Trang web là các thương hiệu, nhãn hiệu dịch vụ, tên miền, biểu trưng, tên công ty hoặc dấu hiệu
                nguồn gốc hoặc là tài sản của The Coffee hoặc công ty con hay nhà cấp phép của hãng. Ở các quốc gia nơi
                bất kỳ thương hiệu, nhãn hiệu dịch vụ, tên miền, biểu trưng, tên công ty và dấu hiệu nguồn gốc nào của
                The Coffee không được đăng ký, The Coffee sẻ xác nhận các quyền khác được liên kết với các thương hiệu,
                nhãn hiệu dịch vụ, tên miền, biểu trưng, tên thương hiệu, tên công ty và dấu hiệu nguồn gốc chưa đăng
                ký. Tên sản phẩm hoặc công ty khác được đề cập trên Trang web có thể là thương hiệu của các chủ sở hữu
                tương ứng. Bạn không được phép sử dụng bất kỳ thương hiệu, nhãn hiệu dịch vụ, tên miền, biểu trưng, tên
                công ty, tên thương mại hoặc dấu hiệu nguồn gốc nào của The Coffee hoặc bên thứ ba bất kỳ mà không có sự
                cho phép của chủ sở hữu thương hiệu, nhãn hiệu dịch vụ, tên miền, biểu trưng, tên công ty, tên thương
                mại hoặc dấu hiệu nguồn gốc áp dụng. Bạn có thể liên hệ với The Coffee bằng cách gửi email tới Phòng
                Chăm sóc Khách hàng, hoặc viết thư tới The Coffee theo địa chỉ 2401 Utah Ave. S, Seattle, WA 98134 USA,
                để yêu cầu sự cho phép bằng văn bản về việc sử dụng thương hiệu, dấu hiệu nguồn gốc và tài liệu trên
                Trang web cho các mục đích không phải được nêu trong các Điều khoản Sử dụng này hoặc cho mọi câu hỏi
                khác liên quan đến Trang web.</p>
            <p>Mọi quyền không được cấp rõ ràng đều được bảo lưu.</p>
            <p><strong>Hạn chế về việc Sử dụng</strong></p>
            <p>Trang web có thể bao gồm các vùng tương tác mà bạn hoặc những người dùng đã đăng ký khác có thể tạo,
                đăng, gửi hoặc lưu trữ thông báo, tài liệu, dữ liệu, thông tin, văn bản, nhạc, âm thanh, ảnh, video, đồ
                họa, ứng dụng, thẻ, mã, liên kết hoặc các mục khác hay tài liệu trên Trang web ("Nội dung Người dùng").
                Bằng cách sử dụng Trang web, bạn đồng ý không đăng, tải lên, chuyển, phân phối, lưu trữ, tạo hoặc xuất
                bản khác qua Trang web bất kỳ mục nào sau đây:</p>
            <p><strong>a.</strong> Trừ khi được yêu cầu cụ thể bởi The Coffee, bất kỳ thông tin nhận dạng cá nhân “nhạy
                cảm” nào về chính bạn hoặc một người khác (bao gồm, nhưng không giới hạn đối với, thông tin liên quan
                đến tình trạng sức khỏe hoặc bệnh lý, số an sinh xã hội, thẻ tín dụng, tài khoản ngân hàng hoặc thông
                tin tài chính khác, thông tin khác liên quan đến thành viên hiệp hội thương mại, đời sống tình dục, quan
                điểm chính trị, cáo buộc hoặc kết án hình sự, tín ngưỡng tôn giáo, nguồn gốc chủng tộc hoặc dân tộc hay
                các vấn đề nhạy cảm khác);</p>
            <p><strong>b.</strong> Nội dung Người dùng bất hợp pháp, bôi nhọ, phỉ báng, tục tĩu, khiêu dâm, khiếm nhã,
                dâm dục, khêu gợi,
                quấy rối, đe dọa, xâm phạm quyền riêng tư hoặc quyền quảng cáo, lạm dụng, khích động, gian lận, phản đối
                khác hoặc đe dọa đến mối quan hệ của chúng tôi với nhân viên, đối tác, khách hàng hoặc nhà cung cấp của
                chúng tôi;</p>
            <p><strong>c.</strong> Nội dung người dùng có thể vi phạm bất kỳ bằng sáng chế, thương hiệu, bí mật thương
                mại, bản quyền
                hoặc quyền sở hữu trí tuệ nào khác của bất kỳ bên nào. Bằng cách đăng bất kỳ Nội dung Người dùng nào,
                bạn tuyên bố và đảm bảo rằng bạn có quyền hợp pháp để phân phối và tạo Nội dung Người dùng như vậy;</p>
            <p><strong>d.</strong> Nội dung Người dùng mạo danh bất kỳ cá nhân hay pháp nhân nào hoặc xuyên tạc danh
                tính hoặc mối quan
                hệ liên kết của bạn với cá nhân hoặc pháp nhân khác;</p>
            <p><strong>e.</strong> Thư rác, thông báo tiếp thị trực tiếp hoặc bất kỳ tài liệu quảng cáo, khuyến mại
                không mong muốn nào
                hoặc các hình thức mời chào hoặc nội dung thương mại khác;</p>
            <p><strong>f.</strong> Nội dung Người dùng cấu thành, khuyến khích hoặc cung cấp hướng dẫn về tội phạm hình
                sự, vi phạm các
                quyền của bất kỳ bên nào hoặc tạo ra trách nhiệm pháp lý hoặc vi phạm bất kỳ luật địa phương, tiểu bang,
                quốc gia hoặc quốc tế hiện hành nào;</p>
            <p><strong>g.</strong> Vi-rút, phần mềm độc hại, ngựa Trojan, trứng phục sinh hoặc bất kỳ tệp gây hại, phá
                hủy hoặc phá hoại
                nào khác; và</p>
            <p> <strong>h.</strong> Nội dung Người dùng, theo quyết định riêng của The Coffee, mang tính phản đối, hạn
                chế
                hoặc cấm bất kỳ
                người nào khác sử dụng hoặc xem Trang web hoặc hủy hoại hình ảnh hoặc quyền của The Coffee, người dùng
                hoặc
                các bên thứ ba khác.</p>
            <p>The Coffee không kiểm soát, chịu trách nhiệm hoặc thừa nhận trách nhiệm pháp lý đối với bất kỳ Nội dung
                Người dùng nào được đăng, lưu trữ hoặc tải lên bởi bạn hoặc bất kỳ bên thứ ba nào hoặc về bất kỳ mất mát
                hoặc thiệt hại nào theo đó. The Coffee cũng không chịu trách nhiệm pháp lý đối với mọi hành vi của người
                dùng hoặc bất kỳ nhầm lẫn, nội dung phỉ báng, vu khống, bôi nhọ, thiếu sót, lừa dối, tục tĩu, khiêu dâm
                hoặc báng bổ nào mà bạn có thể gặp phải. Các vùng tương tác được thiết kế chung là vùng cộng đồng mở và
                công khai để kết nối và chia sẻ với những người khác. Khi bạn tham gia các vùng này, bạn hiểu rằng thông
                tin và nội dung nhất định bạn chọn đăng có thể được hiển thị công khai. Bạn hoàn toàn chịu trách nhiệm
                về việc sử dụng Trang web của mình và đồng ý sử dụng các vùng tương tác do tự bạn chịu rủi ro.</p>
            <p>Nếu bạn nhận thấy Nội dung Người dùng mà bạn cho là vi phạm các Điều khoản Sử dụng này (ngoại trừ vi phạm
                bản quyền được đề cập trong phần Thông báo Đạo luật Bản quyền Thiên niên kỷ Kỹ thuật số), bạn có thể báo
                cáo bằng cách nhấp vào liên kết "Báo cáo Lạm dụng" hoặc "Gắn cờ" nằm ngay phía dưới mỗi phần Nội dung
                Người dùng. Tuy nhiên, việc thực thi các Điều khoản Sử dụng này là quyết định riêng của chúng tôi và
                việc không thực thi trong một số trường hợp không cấu thành sự khước từ quyền thực thi các Điều khoản Sử
                dụng trong các trường hợp khác của chúng tôi. Ngoài ra, các Điều khoản Sử dụng này không tạo ra bất kỳ
                quyền hành động riêng tư nào về phía bên thứ ba bất kỳ hay kỳ vọng hoặc cam kết hợp lý bất kỳ rằng Trang
                web sẻ không chứa bất kỳ nội dung nào bị cấm bởi các Điều khoản Sử dụng này.</p>
            <p>Mặc dù The Coffee không có nghĩa vụ phải lọc, chỉnh sửa hoặc giám sát bất kỳ Nội dung Người dùng nào được
                đăng lên Trang web, nhưng The Coffee có quyền và có quyết định tuyệt đối về việc xóa, lọc hoặc chỉnh sửa
                bất kỳ Nội dung Người dùng nào trên Trang web vào bất cứ lúc nào và vì bất kỳ lý do gì mà không thông
                báo. Bạn hoàn toàn chịu trách nhiệm về việc tạo bản sao lưu và thay thế bất kỳ Nội dung Người dùng nào
                bạn đăng hoặc lưu trữ trên Trang web với chi phí và phí tổn của riêng bạn.</p>
            <p>Nếu bạn đang xem Trang web trên máy tính công cộng hoặc đang sử dụng máy tính nhiều người có quyền truy
                cập tiềm ẩn, hãy chắc chắn làm theo tất cả hướng dẫn liên quan để đảm bảo bạn hoàn toàn ngắt kết nối và
                đăng xuất khỏi Trang web cũng như hệ thống máy tính bạn đang sử dụng để ngăn Nội dung Người dùng trái
                phép.</p>
            <p>Giấy phép cho Nội dung Người dùng</p>
            <p>Bạn tuyên bố và đảm bảo rằng Nội dung Người dùng của bạn không phải tuân theo bất kỳ nghĩa vụ bảo mật nào
                và bạn sở hữu và kiểm soát tất cả các quyền đối với Nội dung Người dùng hoặc có quyền cấp các quyền đó
                cho The Coffee như trong tài liệu này. The Coffee không xác nhận bất kỳ quyền sở hữu hoặc kiểm soát nào
                đối với bất kỳ Nội dung Người dùng nào, ngoại trừ được quy định khác trong tài liệu này, trên Trang web
                hoặc trong một thỏa thuận riêng. Tuy nhiên, bằng cách gửi hoặc đăng Nội dung Người dùng trên Trang web,
                bạn cấp cho The Coffee và người chỉ định của hãng giấy phép toàn cầu, vĩnh viễn, không thể thu hồi,
                không độc quyền, trả tiền đầy đủ và miễn tiền bản quyền để sử dụng, bán, sao chép, tạo tác phẩm phái
                sinh, kết hợp với các tác phẩm khác, thay đổi, dịch, phân phối bản sao, hiển thị, thực hiện, xuất bản,
                cấp phép hoặc cấp phép lại Nội dung Người dùng cũng như tên và sở thích của bạn liên quan đến việc sử
                dụng Nội dung Người dùng đó của bạn. Bằng cách đăng Nội dung Người dùng, dưới đây bạn miễn cho The
                Coffee cũng như các đại lý và nhân viên của hãng khỏi bất kỳ khiếu nại nào cho rằng việc sử dụng, như
                được ủy quyền ở trên, vi phạm bất kỳ quyền nào của bạn và bạn hiểu rằng bạn sẻ không có quyền được hưởng
                bất kỳ bồi thường nào cho việc sử dụng bất kỳ Nội dung Người dùng của bạn.</p>
            <p>Gửi Ý tưởng</p>
            <p>Riêng biệt và khác với Nội dung Người dùng bạn cung cấp, bạn có thể gửi câu hỏi, nhận xét, phản hồi, đề
                xuất, ý tưởng, kế hoạch, ghi chú, bản vẽ, tài liệu gốc hoặc sáng tạo hay thông tin khác về The Coffee,
                Trang web và sản phẩm của chúng tôi (gọi chung là "Ý tưởng"). Ý tưởng, dù được đăng lên Trang web hay
                được cung cấp cho The Coffee qua email hoặc hoàn toàn tự nguyện, không bí mật, miễn phí và không cam
                kết.</p>
            <p>The Coffee sẻ sở hữu các quyền độc quyền, bao gồm tất cả quyền sở hữu trí tuệ và sẻ có quyền sử dụng và
                phân phối không hạn chế các Ý tưởng cho bất kỳ mục đích nào, thương mại hoặc khác, mà không có xác nhận
                hoặc bồi thường cho bạn. Không gửi cho chúng tôi Ý tưởng nếu bạn muốn được trả tiền hoặc muốn tiếp tục
                sở hữu hoặc xác nhận quyền trong đó; các Ý tưởng của bạn có thể tuyệt vời, nhưng chúng tôi có thể đã có
                cùng ý tưởng hoặc ý tưởng tương tự và chúng tôi không muốn có tranh chấp.</p>
            <p>Liên kết</p>
            <p>Bạn được cấp quyền giới hạn, không độc quyền về việc tạo siêu liên kết văn bản tới Trang web cho mục đích
                phi thương mại, miễn là các liên kết này không mô tả The Coffee theo cách giả dối, lừa đảo, xúc phạm
                hoặc phỉ báng khác và miễn là trang web liên kết không chứa bất kỳ tài liệu tục tĩu, khiêu dâm, tình dục
                rõ ràng hoặc bất hợp pháp nào hay bất kỳ tài liệu nào gây xúc phạm, quấy rối hoặc phản đối khác. Quyền
                giới hạn này có thể bị thu hồi bất cứ lúc nào. Ngoài ra, bạn không được phép sử dụng biểu trưng của The
                Coffee hoặc đồ họa độc quyền khác để liên kết tới Trang web của chúng tôi khi không được sự cho phép rõ
                ràng bằng văn bản của chúng tôi. Hơn nữa, bạn không được phép sử dụng, dựng khung hoặc sử dụng các kỹ
                thuật dựng khung để bao gồm bất kỳ thương hiệu, biểu trưng hoặc thông tin độc quyền nào khác của The
                Coffee, bao gồm hình ảnh tìm thấy tại Trang web, nội dung của bất kỳ văn bản hay bố cục/thiết kế của bất
                kỳ trang hoặc biểu mẫu nào có trên Trang web khi không được sự đồng ý rõ rằng bằng văn bản của chúng
                tôi. Ngoại trừ được nêu ở trên, bạn không được chuyển nhượng bất kỳ quyền hoặc giấy phép nào dù ngụ ý,
                cấm nói ngược hoặc trường hợp khác hoặc theo bất kỳ bằng sáng chế, thương hiệu, bản quyền hoặc quyền độc
                quyền nào của The Coffee hoặc bên thứ ba bất kỳ.</p>
            <p>The Coffee không xác nhận hoặc tuyên bố về và không nhận trách nhiệm đối với, chất lượng, nội dung, đặc
                điểm hoặc độ tin cậy của nội dung được nhúng, trang web của bên thứ ba có thể truy cập qua siêu liên kết
                hoặc các trang web liên kết tới Trang web. Trang web này không chịu sự kiểm soát của The Coffee và The
                Coffee không chịu trách nhiệm về mọi nội dung được nhúng hay nội dung của bất kỳ trang web được liên kết
                nào hay bất kỳ liên kết nào có trong trang web được liên kết hoặc bất kỳ đánh giá, thay đổi hoặc cập
                nhật nào cho trang web đó. The Coffee và người dùng của hãng có thể cung cấp các liên kết này để thuận
                tiện cho bạn, nhưng việc bao gồm bất kỳ liên kết nào không ám chỉ mối quan hệ liên kết, xác nhận hoặc
                phê duyệt của The Coffee cho bất kỳ Trang web hay thông tin nào có trong Trang web. Khi bạn truy cập các
                trang web khác qua liên kết hoặc nội dung được nhúng, bạn phải hiểu rằng các điều khoản và chính sách
                của chúng tôi sẻ không chi phối nữa và các điều khoản và chính sách của các trang web của bên thứ ba đó
                sẻ được áp dụng. Bạn nên xem lại các điều khoản và chính sách hiện hành, bao gồm quyền riêng tư và các
                hoạt động thu thập dữ liệu, của bất kỳ trang web nào bạn điều hướng tới từ Trang web của chúng tôi.</p>
            <p>Nội dung của Bên thứ ba</p>
            <p>The Coffee có thể cung cấp nội dung của bên thứ ba trên Trang web và các liên kết tới trang web cũng như
                nội dung của bên thứ ba (gọi chung là “Nội dung của Bên thứ ba”) dưới dạng dịch vụ cho những người quan
                tâm đến thông tin này. Chúng tôi không kiểm soát, xác nhận hoặc phê duyệt bất kỳ Nội dung của Bên thứ ba
                nào và không đảm bảo về tính chính xác hoặc sự hoàn chỉnh của nội dung đó. Bạn xác nhận và đồng ý rằng
                The Coffee không chịu trách nhiệm hoặc trách nhiệm pháp lý theo bất kỳ cách nào về mọi Nội dung của Bên
                thứ ba và không chịu trách nhiệm cập nhật hoặc xem xét Nội dung của Bên thứ ba đó. Bạn đồng ý sử dụng
                Nội dung của Bên thứ ba có trong Trang web do bạn tự chịu rủi ro.</p>
            <p>Quảng cáo và Khuyến mại; Sản phẩm và Dịch vụ của Bên thứ ba</p>
            <p>The Coffee có thể hiển thị quảng cáo và khuyến mại của bên thứ ba trên Trang web hoặc có thể cung cấp
                thông tin khác về hoặc liên kết tới sản phẩm hoặc dịch vụ của bên thứ ba.  Giao dịch hoặc thư tín thương
                mại hay việc bạn tham gia khuyến mại với bên thứ ba đó và bất kỳ điều khoản, điều kiện, đảm bảo hoặc
                tuyên bố nào liên quan đến giao dịch hoặc khuyến mại đó hoàn toàn là giữa bạn và bên thứ ba đó.</p>
            <p>The Coffee không chịu trách nhiệm hoặc trách nhiệm pháp lý về mọi mất mát hoặc thiệt hại thuộc bất kỳ
                hình thức nào phát sinh do giao dịch hoặc khuyến mại đó hoặc do sự xuất hiện thông tin của nhà quảng cáo
                hoặc bên thứ ba không phải The Coffee trên Trang web.Giới hạn về Trách nhiệm pháp lý.</p>
            <p>Trong phạm vi tối đa luật hiện hành cho phép, The Coffee và cán bộ, giám đốc, nhân viên, cổ đông hoặc đại
                lý của hãng sẻ không phải chịu trách nhiệm pháp lý về mọi thiệt hại trực tiếp, gián tiếp, trừng phạt
                hoặc do hậu quả nào hay bất kỳ thiệt hại nào khác thuộc bất kỳ hình thức nào, bao gồm nhưng không giới
                hạn đối với việc mất thu nhập, lợi nhuận, tín nhiệm, dữ liệu, hợp đồng, việc sử dụng tiền hoặc mất mát
                hay thiệt hại phát sinh từ hoặc liên quan theo bất kỳ cách nào với việc gián đoạn kinh doanh, dù do sai
                sót cá nhân (bao gồm nhưng không giới hạn sơ suất), hợp đồng hoặc trường hợp khác, phát sinh từ hoặc
                liên quan đến việc sử dụng hoặc không thể sử dụng Trang web, nội dung hoặc tài liệu có trong hoặc được
                truy cập qua Trang web, bao gồm nhưng không giới hạn bất kỳ thiệt hại nào gây ra bởi hoặc do sự tin
                tưởng của người dùng vào bất kỳ thông tin nào nhận được từ The Coffee hoặc do nhầm lẫn, thiếu sót, gián
                đoạn, xóa tệp hoặc email, lỗi, hư hỏng, vi-rút, trì hoãn hoạt động hoặc truyền tải hay bất kỳ lỗi hoạt
                động nào, dù do thiên tai, lỗi truyền thông, trộm cắp, phá hủy hoặc truy cập trái phép vào dữ liệu,
                chương trình hoặc dịch vụ của The Coffee. Trong mọi trường hợp, sẻ không cấu thành trách nhiệm pháp lý
                của The Coffee, dù theo hợp đồng, bảo đảm, sai sót cá nhân (bao gồm sơ suất, dù chủ động, thụ động hay
                quy cho), trách nhiệm pháp lý về sản phẩm, trách nhiệm pháp lý nghiêm ngặt hoặc giả thuyết khác, phát
                sinh từ hoặc liên quan đến việc sử dụng hoặc không thể sử dụng Trang web vượt quá bất kỳ khoản bồi
                thường nào bạn trả, nếu có, cho The Coffee về việc truy cập hoặc sử dụng Trang web. Một số thẩm quyền
                pháp lý không cho phép giới hạn trách nhiệm pháp lý theo hợp đồng với người tiêu dùng, vì vậy một số
                hoặc tất cả giới hạn trách nhiệm pháp lý này có thể không áp dụng cho bạn.</p>
            <p>Bồi thường</p>
            <p>Bạn đồng ý bảo vệ, bồi thường và không làm phương hại đến The Coffee, nhà thầu độc lập, nhà cung cấp dịch
                vụ và nhà tư vấn của hãng cũng như giám đốc, nhân viên và đại lý tương ứng của họ, trước mọi khiếu nại,
                thiệt hại, chi phí, trách nhiệm pháp lý và phí tổn (bao gồm, nhưng không giới hạn đối với, phí luật sư
                hợp lý) phát sinh từ hoặc liên quan đến <strong>(a)</strong> việc bạn sử dụng Trang web;
                <strong>(b)</strong> bất kỳ Nội dung Người dùng
                hoặc Ý tưởng nào bạn cung cấp; <strong>(c)</strong> việc bạn vi phạm các Điều khoản Sử dụng này;
                <strong>(d)</strong> việc bạn vi phạm bất
                kỳ quyền nào của người khác; hoặc <strong>(e)</strong> hành vi của bạn liên quan đến Trang web.
            </p>
            <p>Sửa đổi Trang web</p>
            <p>The Coffee giữ quyền sửa đổi hoặc ngừng, tạm thời hoặc vĩnh viễn, Trang web hay bất kỳ tính năng hoặc
                phần nào trong Trang web mà không thông báo trước. Bạn đồng ý rằng The Coffee sẻ không chịu trách nhiệm
                pháp lý về mọi sửa đổi, tạm ngừng hoặc ngừng Trang web hay bất kỳ phần nào trong Trang web.</p>
            <p>Tiết lộ Tài liệu Tài chính</p>
            <p>Tuyên bố Hướng tới Tương lai: Trang web và bất kỳ tài liệu nào do The Coffee ban hành và cung cấp qua
                Trang web, có thể chứa các tuyên bố cấu thành tuyên bố hướng tới tương lai trong phạm vi ý nghĩa của Đạo
                luật Tu chính về Kiện tụng Tính bảo mật Riêng tư của Hoa Kỳ năm 1995. Có thể xác định các tuyên bố hướng
                tới tương lai bằng thực tế rằng chúng không liên quan chặt chẽ đến dữ kiện quá khứ hoặc hiện tại. Chúng
                thường bao gồm các từ như “tin” “mong đợi”, “dự kiến”, “ước tính”, “dự định”, “kế hoạch”, “tìm” hoặc các
                từ có ý nghĩa tương tự hay các động từ tương lai hoặc điều kiện, như “sẻ”, “có thể”. Các tuyên bố hướng
                tới tương lai bao gồm các tuyên bố được đưa ra về hoạt động, chi phí, chi phí vốn, luồng tiền mặt, cải
                tiến cơ sở hạ tầng, hệ thống phân phối và bổ sung cũng như hiệu quả hoạt động, ước tính doanh số và thu
                nhập hoặc xu hướng và kế hoạch cũng như đề án mở rộng trong tương lai. Các tuyên bố hướng tới tương lai
                này dựa trên kỳ vọng của chúng tôi kể từ ngày đưa ra tuyên bố hướng tới tương lai này chứ không phải là
                dự đoán hoặc đảm bảo về sự kiện hoặc trường hợp trong tương lai. Kết quả và xu hướng thực tế trong tương
                lai có thể khác đáng kể, tùy thuộc vào nhiều yếu tố khác nhau, bao gồm rủi ro được nêu chi tiết trong hồ
                sơ công ty nộp cho Ủy ban Chứng khoán và Giao dịch, kể cả phần “Yếu tố Rủi ro” trong Báo cáo Hàng năm
                của The Coffee trên Biểu mẫu 10-K cho năm tài chính kết thúc gần đây nhất. Công ty không nhận bất kỳ
                nghĩa vụ nào về việc cập nhật bất kỳ tuyên bố hướng tới tương lai nào như vậy.</p>
            <p>Thông cáo Báo chí: Thông tin có trong thông cáo báo chí do The Coffee ban hành sẻ không được coi là chính
                xác hoặc cập nhật trừ khi thông cáo này được đăng chính thức. The Coffee không có ý định cập nhật và
                tuyên bố từ chối cụ thể bất kỳ nghĩa vụ cập nhật nào, đối với thông tin trong thông cáo báo chí. Trong
                phạm vi này, bất kỳ thông tin nào có trong tài liệu này là hướng tới tương lai, thì thông tin đó phải
                phù hợp với quy tắc cảng an toàn về tuyên bố hướng tới tương lai và có thể chịu rủi ro đáng kể.</p>
            <p>Thông tin Tài chính của Bên thứ ba: The Coffee có thể cung cấp các liên kết tới trang web hoặc dịch vụ
                của bên thứ ba chứa thông tin tài chính hoặc đầu tư về The Coffee. Quyền truy cập vào trang web và thông
                tin có trong Trang web được cung cấp dưới dạng dịch vụ cho những người quan tâm đến thông tin đó.</p>
            <p>The Coffee không giám sát hoặc kiểm soát thường xuyên nội dung trong tuyên bố hoặc trang web của bên thứ
                ba. Theo đó, The Coffee không xác nhận hoặc phê duyệt các trang web đó hay bất kỳ thông tin nào có trong
                trang web, bao gồm, nhưng không giới hạn, báo cáo và báo giá cổ phiếu của nhà phân tích.</p>
            <p>The Coffee không tuyên bố hoặc đảm bảo bất cứ điều gì về tính chính xác hoặc sự hoàn chỉnh của nội dung,
                thông tin hoặc quan điểm trên trang web của bên thứ ba hoặc thông tin của bên thứ ba khác xác định trên
                Trang web. Người dùng truy cập các trang web này và sử dụng thông tin có trong trang web do họ tự chịu
                rủi ro.</p>
            <p>Thẩm quyền pháp lý và Tuân thủ Luật pháp</p>
            <p>Quyền truy cập và sử dụng Trang web cũng như các Điều khoản Sử dụng này được chi phối theo luật liên bang
                Hoa Kỳ và/hoặc luật Tiểu bang Washington, bất kể xung đột về các điều khoản luật. Mọi kiện cáo hoặc tố
                tụng pháp lý liên quan đến việc bạn truy cập hoặc sử dụng Trang web hay các Điều khoản Sử dụng này sẻ
                chỉ được thiết lập ở tòa án tiểu bang hoặc liên bang đặt tại Hạt King, Washington. Bạn và The Coffee
                đồng ý gửi cho thẩm quyền pháp lý và đồng ý rằng nơi xét xử là thích hợp trong các tòa án này ở bất kỳ
                kiện tụng hoặc tố tụng pháp lý nào như vậy.</p>
            <p>Chấm dứt</p>
            <p>Bất kể mọi điều trong Điều khoản Sử dụng này, The Coffee giữ quyền, mà không có thông báo và theo quyết
                định riêng của hãng, về việc chấm dứt giấy phép sử dụng Trang web của bạn và chặn hoặc ngăn quyền truy
                cập, sử dụng Trang web trong tương lai của bạn.</p>
            <p>Tính hiệu lực từng phần</p>
            <p>Nếu bất kỳ điều khoản nào trong Điều khoản Sử dụng này được coi là bất hợp pháp, vô hiệu hoặc vì bất kỳ
                lý do nào không thể thực thi, thì điều khoản đó sẻ được coi là có thể tách ra khỏi Điều khoản Sử dụng
                này và sẻ không ảnh hưởng đến tính hiệu lực và khả năng thực thi của bất kỳ điều khoản nào còn lại.</p>
            <p>Liên hệ với chúng tôi</p>
            <p style="margin-bottom: 100px;">Vui lòng liên hệ với chúng tôi nếu có bất kỳ nhận xét, câu hỏi hoặc đề xuất
                nào về thông tin được mô tả
                trong Trang web.</p>
        </div>
    </div>
</div>