<link rel="stylesheet" href="~/css/roots.css">

<body>
    <div class="Container">
        <div class="img-roots">
            <img src="https://cdn.create.vista.com/api/media/small/316705436/stock-photo-cropped-view-woman-holding-spoon-cappuccino-foam"
                alt="">
        </div>
        <div class="Content">
            <div class="Content-roots" style="margin-top:10%">
                <h1>Dịch vụ</h1>
                <p>DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH <br>
                    <strong>Chúng mình có thể làm gì để hoàn thiện The Coffee?</strong> <br>
                    The Coffee là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng mình.
                    Đừng giữ trong lòng, hãy chia sẻ với chúng mình điều bạn mong muốn để cùng nhau giúp The
                    Coffee của chúng mình trở nên tuyệt vời hơn. <br>
                    <strong>Đừng ngại chia sẻ ý kiến của bạn tại:</strong> <br>
                    Facebook: https://www.facebook.com/TheCoffee/ <br>
                    Hoặc bạn có thể gửi email cho chúng mình đến địa chỉ: customerservice@TheCoffee.com.vn, chúng
                    mình sẽ phản hồi trong thời gian sớm nhất có thể.
                </p>

            </div>
            <div class="img-click-DV">
                <div class="DV">
                    <a href="/roots"><img
                            src="https://media.istockphoto.com/photos/cup-of-coffee-picture-id504983540?k=6&m=504983540&s=612x612&w=0&h=tOdlmbF1hjXKb__Yc6P4tm9izqWSyw52RIpCMOKBKP4="
                            alt="" class="img-DV">
                       
                    </a>
                </div>
                <div class="NN">
                    <a href="" class="NN"><img
                            src="https://opetit.com/wp-content/uploads/2024/02/ca-phe-arabica-rang-moc-opetit-7.jpg"
                            alt="" class="img-NN">
                       
                    </a>
                </div>
            </div>

        </div>
    </div>

</body>