* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.share_container {
  width: 100%;
}
.div_title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
}
.title_share {
  text-align: center;
}
.share_introduce {
  text-align: center;
  font-size: large;
  width: 60%;
  justify-self: center;
}
.body_content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.content_left {
  width: 30%;
}

.content_left img {
  width: 100%;
  margin: 20px 0px;
  border-radius: 10px;
}
.date_atblog {
  font-weight: 200;
  margin: 5px 0px;
}
.content_right {
  width: 45%;
  margin-left: 20px;
}
.content_right img {
  width: 100%;
  border-radius: 10px;
}
.holic_content {
  margin-left: 50px;
  margin-bottom: 40px;
}
.main_holic {
  width: 50%;
}
.left_content {
}
.main_holic img {
  width: 40%;
  margin-right: 10px;
  border-radius: 10px;
}
.holic_item {
  display: flex;
  margin: 20px 0;
}
.holic_showmore {
  text-align: center;
}
.holic_showmore a {
  width: 50%;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  background-color: #faf5f5;
  padding: 5px 50px;
}
a:hover {
  color: #ea8025;
}
@media screen and (max-width: 990px) {
  .body_content {
    display: block;
  }
  .content_left,
  .content_right {
    width: 80%;
    margin: auto;
  }
  .main_para {
    margin-top: 20px;
    margin-left: 20px;
  }
  .content_left {
    display: flex;
  }
}
@media screen and (max-width: 760px) {
  .title_share {
    font-size: 24px;
  }
  .share_introduce {
    font-size: 14px;
  }
  .content_left {
    width: 95%;
  }
  .content_left a {
    width: 50%;
    height: auto;
  }
  .main_para {
    width: 50%;
  }
  .left_mainp {
    display: none;
  }
  .left_title,
  .right_title {
    font-size: 16px;
  }
  .right_mainp {
    font-size: 15px;
  }
  .content_right {
    width: 95%;
  }
  .holic_content {
    margin: 16px;
  }
  .holic_item {
    width: 100%;
    display: block;
  }
  .main_holic {
    width: 100%;
  }
  .holic_item img {
    width: 100%;
  }
}
