.Address {
    display: flex;
    justify-content: center;
}

.Content {
    width: 80%;
    height: auto;
    margin: auto;
}

.Heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-top: 50px;
}

p {
    margin-bottom: 15px;
}